<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>E1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body>







    <!--
    <script src="/socket.io/socket.io.js"></script>
    -->
    <script type="text/javascript" src="js/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="js/vendor/moment-with-langs.js"></script>
    <script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/vendor/underscore.js"></script>
    <script type="text/javascript" src="js/vendor/underscore.string.js"></script>
    <script type="text/javascript" src="js/vendor/backbone.js"></script>

    <script type="text/javascript" src="//rawgithub.com/n3dst4/colour.js/master/colour.js"></script>
    <script type="text/javascript" src="//rawgithub.com/egonelbre/jsfx/master/lib/audio.js"></script>
    <script type="text/javascript" src="//rawgithub.com/egonelbre/jsfx/master/lib/jsfx.js"></script>
    <script type="text/javascript" src="//rawgithub.com/egonelbre/jsfx/master/lib/jsfxlib.js"></script>

    <script type="text/javascript" src="//rawgithub.com/jashkenas/backbone/master/examples/backbone.localStorage.js"></script>

    <script type="text/template" name="sources">
      <form role="form"
            class="form-inline"
            name="add-new-source">
        <div class="form-group">
          <select name="source-type"
                  class="form-control">
            <option value="">Auto detect</option>
            <option value="github">Github</option>
            <option value="tumblr">Tumblr</option>
            <option value="soundcloud">Soundcloud</option>
          </select>
        </div>

        <div class="form-group">
          <input type="text"
                 name="new-source"
                 placeholder="URL of an events source"
                 class="form-control" />
        </div>

        <div class="form-group">
          <button type="button"
                  class="btn btn-primary"
                  name="add-source">Add</button>
        </div>
      </form>
      <ol class="sources panel-group">
      </ol>
    </script>





    <script type="text/template" name="source">
    <% var soundUid = _.uniqueId('sound'); %>

    <a href="<%- url %>"><%- url %></a>

    </script>

<!--
    <form role="form" class="form-inline">

      <div>
      <% _.each(parameters, function(param) {
        var ctrlUid = _.uniqueId('ctrl'); %>
        <div class="form-group">
          <label for="<%- ctrlUid %>"><%= param.name %></label>


          <% if (param.type === 'range') { %>

          <input type="range"
                 value="<%- param.def %>"
                 name="<%- param.id %>"
                 step="<%- param.step %>"
                 min="<%- param.min %>"
                 max="<%- param.max %>"
                 id="<%- ctrlUid %>"
                 class="form-control"/>

          <% }
          else if (param.type === 'option') { %>

          <select name="<%- param.id %>"
                  id="<%- ctrlUid %>"
                  class="form-control">
          <% _.each(param.options, function(name) { %>
            <option value="<%- name %>"<%- (param.def === name ? 'selected' : '') %>>
              <%- name %>
            </option>
          <% }); %>
          </select>

          <% } %>


        </div>
      <% }); %>
      </div>
    </form>
-->
    <script type="text/template" name="github-event">
    <div class="github-event">
      <div class="actor">
        <span class="octicon octicon-person"></span>
        <a href="<%- raw.actor.url %>"
           class="name"><%- raw.actor.login %></a>
      </div>

      <div class="repo">
        <span class="octicon octicon-repo"></span>
        <a href="<%- raw.repo.url %>"
           class="name"><%- raw.repo.name %></a>
      </div>

    <pre><%- JSON.stringify(raw, null, 2) %></pre>
    </div>
    </script>



    <script type="text/template" name="soundcloud-event">
    <div class="soundcloud-event">

    <pre><%- JSON.stringify(raw, null, 2) %></pre>
    </div>
    </script>



    <script type="text/template" name="tumblr-event">
    <div class="tumblr-event">
      <div class="blog">
        <span class="name"><%- raw.blog_name %></span>
      </div>

      <div class="post">
        <h5>
          <a href="<%- raw.post_url %>"><%- (raw.title || '...') %></a>
          <% if (raw.note_count) { %>
          <span class="label label-default note-count"><%- raw.note_count %></span>
          <% } %>
        </h5>


        <% if (raw.type === 'link') { %>
        <div class="description">
          <%- raw.description %>
        </div>
        <a class="url" href="<%- raw.url %>">
          <%- (raw.url.length > 8 ? (raw.url.slice(0, 8)+'') : raw.url) %>
        </a>
        <% }

        else if (raw.type === 'text') { %>
        <div class="body">
          <%= raw.body %>
        </div>
        <% }

        else if (raw.type === 'photo') { %>
        <div class="photos">
          <pre><%- JSON.stringify(raw.photos, null, 2) %></pre>
        </div>
        <div class="caption">
          <%- raw.caption %>
        </div>
        <% } %>
      </div>
    </div>
    </script>



    <script type="text/template" name="all-source-events">
    <ul class="years">
    <% _.each(dates || {}, function(item, year) { %>
      <li data-year="<%- year %>">
        <span class="time-info"><%- year %></span>

        <ul class="months">
        <% _.each(item, function(item, month) { %>
          <li data-month="<%- month %>">
            <span class="time-info"><%- month %>.</span>

            <ul class="days">
            <% _.each(item, function(item, day) { %>
              <li data-day="<%- day %>">
                <span class="time-info"><%- day %>.</span>

                <ul>
                <% _.each(item, function(event) { %>
                  <% var mom = moment(event.date) %>
                  <li class="entry"
                      data-source="<%- event.source %>">

                    <span class="time-info"><%- mom.format('H:m') %></span>

                    <span title="<%- event.provider %>: <%- event.type %>"
                          class="octicon octicon-<%- event.icon %>"></span>

                    <%= partial(event.provider+'Event', event) %>
                  </li>
                <% }) %>
                </ul>

              </li>
            <% }) %>
            </ul>

          </li>
        <% }) %>
        </ul>

      </li>
    <% }) %>
    </ul>


    <ol class="events">
    <% /* _.each(events, function(event) { %>
      <li data-date="<%- event.date %>"
          data-type="<%- event.type %>">
        <span class="source"><%- event.source %></span>
        <span class="provider"><%- event.provider %></span>
        <span class="type"><%- event.type %></span>
        <span class="date"><%- event.date %></span>
      </li>
    <% }) */ %>
    </ol>
    </script>










    <script type="text/javascript" src="js/e1.js"></script>
  </body>
</html>
